<?xml version='1.0' encoding='utf-8'?>
<widget id="resku.dayliprot" version="0.3.3">
  <name>DayliProt</name>
  <description>
    Calculation of dayli protein and water intake
  </description>
  <author email="administration@resk-u.ch">
    Resk-U
  </author>
  <icon src="res/icon_hd_v1.png" />
  <platform name="android">
    <icon src="res/android/mipmap-ldpi/ic_launcher.png" density="ldpi" />
    <icon src="res/android/mipmap-mdpi/ic_launcher.png" density="mdpi" />
    <icon src="res/android/mipmap-hdpi/ic_launcher.png" density="hdpi" />
    <icon src="res/android/mipmap-xhdpi/ic_launcher.png" density="xhdpi" />
    <icon src="res/android/mipmap-xxhdpi/ic_launcher.png" density="xxhdpi" />
    <icon src="res/android/mipmap-xxxhdpi/ic_launcher.png" density="xxxhdpi" />
 </platform>
  <preference name="EnableDeveloperConsole" value="$IS_DEBUG" />

</widget>
