<?xml version='1.0' encoding='utf-8'?>
<widget id="resku.dayliprot" version="0.1.1">
  <name>DayliProt</name>
  <description>
    Example Tabris.js App
  </description>
  <author email="brocasm@resk-u.ch">
    brocasm
  </author>
  <preference name="EnableDeveloperConsole" value="$IS_DEBUG" />
</widget>
